# Dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Native
android/
ios/
*.ipa
*.apk
*.aab

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# Environment
.env
.env.*
eas.json
google-services.json
playstore.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
/blue-hare

# Logs
logs
*.log

# Testing
coverage/
.jest/
__tests__/

# Build
build/